{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block titrePage %}{% endblock %}

{% block body %}
    <div class="titre_detail_pizza">
        <h1>La pizza {{pizza.nom}}</h1>
    <div>
    <div class="corps_detail_pizza">
        {{dump(pizza)}}
        {{dump(Ingredients)}}
        {# <p>Prix de fabrication</p>{{pizza.quantiteIngredients}}
        {% for ingredients in pizza.quantiteIngredients.quantite %}
            <h1>{{ingredients.ingredient }}</h1>
        {% endfor %} #}
    </div>
{% endblock %}